#!/usr/bin/make -f
# -*- makefile -*-

DEB_BUILD_OPTIONS += nocheck notest

#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

export CLASSPATH=/usr/share/java/proguard.jar
export GRADLE_HOME=$(HOME)/.gradle
export GRADLE = ./gradlew -g $(GRADLE_HOME)

PACKAGE_NAMES = \
	zeroc-ice-all-runtime \
	zeroc-ice-all-dev \
	zeroc-ice-slice \
	libzeroc-ice3.7 \
	zeroc-glacier2 \
	zeroc-icebox \
	zeroc-icegrid \
	libzeroc-icestorm3.7 \
	zeroc-icepatch2 \
	zeroc-ice-utils \
	zeroc-ice-utils-java \
	libzeroc-ice-dev \
	libzeroc-ice-java-dev \
	libzeroc-ice-java \
	libzeroc-ice-java-compat

VERSION = 3.7a3
JAR_VERSION = 3.7.0-alpha3

ARTIFACT_NAMES = \
	glacier2 \
	ice \
	icebox \
	icediscovery \
	icegrid \
	icelocatordiscovery \
	icepatch2 \
	icestorm \
	glacier2-compat \
	ice-compat \
	icebox-compat \
	icediscovery-compat \
	icegrid-compat \
	icelocatordiscovery-compat \
	icepatch2-compat \
	icestorm-compat

DESTDIR=$(CURDIR)/debian/tmp
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    OPTIMIZE=yes
else
    OPTIMIZE=no
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
    PROCESSORS := $(shell cat /proc/cpuinfo | grep processor | wc -l)
    ifneq ($(PROCESSORS),0)
        MAKEFLAGS += -j$(PROCESSORS)
    endif
endif

DHARGS = --parallel --with javahelper --with systemd

LANGUAGES = cpp
ifeq ($(DEB_HOST_ARCH),amd64)
    ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	# DHARGS += --with php
	# DEB_BUILD_PROFILES += with-php
	# PACKAGE_NAMES += php-zeroc-ice php-zeroc-ice-dev
	# LANGUAGES += php
    else
	DHARGS += --with php5
	DEB_BUILD_PROFILES += with-php5
	PACKAGE_NAMES += php5-zeroc-ice php5-zeroc-ice-dev
	LANGUAGES += php
    endif
endif

prefix = /usr
MAKEOPTS = prefix=$(prefix) embedded_runpath=no OPTIMIZE=$(OPTIMIZE) PLATFORMS=$(DEB_HOST_ARCH)

%:
	dh $@ $(DHARGS)

override_dh_auto_build-arch:
	$(MAKE) $(MAKEOPTS) LANGUAGES="$(LANGUAGES)" CONFIGS="shared cpp11-shared" srcs

override_dh_auto_build-indep:
	$(MAKE) $(MAKEOPTS) LANGUAGES="java java-compat" srcs

override_dh_auto_install-arch:
	$(MAKE) $(MAKEOPTS) LANGUAGES="$(LANGUAGES)" CONFIGS="shared cpp11-shared" DESTDIR=$(DESTDIR) install

override_dh_auto_install-indep:
	$(MAKE) $(MAKEOPTS) DESTDIR=$(DESTDIR) LANGUAGES="java java-compat" install

override_dh_auto_clean-arch:
	$(MAKE) $(MAKEOPTS) LANGUAGES="$(LANGUAGES)" distclean

override_dh_auto_clean-indep:
	$(MAKE) $(MAKEOPTS) LANGUAGES="java java-compat" clean

override_dh_auto_test:

override_dh_installinit:
	dh_installinit --noscripts --name icegridregistry
	dh_installinit --noscripts --name icegridnode
	dh_installinit --noscripts --name glacier2router

override_dh_install:

	#
	# Install Maven artifact
	#
	for name in $(ARTIFACT_NAMES) ; \
	do \
		cd $(CURDIR) ; \
		mkdir -p $(DESTDIR)$(prefix)/share/maven-repo/com/zeroc/$$name/$(VERSION) ; \
		mv $(DESTDIR)$(prefix)/share/java/$$name-$(JAR_VERSION).pom $(DESTDIR)$(prefix)/share/maven-repo/com/zeroc/$$name/$(VERSION) ; \
		cd $(DESTDIR)$(prefix)/share/maven-repo/com/zeroc/$$name/$(VERSION) && ln -s ../../../../../java/$$name-$(JAR_VERSION).jar . ; \
		cd $(DESTDIR)$(prefix)/share/maven-repo/com/zeroc/$$name/$(VERSION) && ln -s ../../../../../java/$$name-$(JAR_VERSION)-sources.jar . ; \
	done ;

	mkdir -p $(DESTDIR)$(prefix)/bin
	cp debian/zeroc-ice-utils-java.icegridgui $(DESTDIR)$(prefix)/bin/icegridgui && \
	chmod 755 $(DESTDIR)$(prefix)/bin/icegridgui
	mkdir -p $(DESTDIR)/etc
	cp debian/zeroc-glacier2.glacier2router.conf $(DESTDIR)/etc/glacier2router.conf
	cp debian/zeroc-icegrid.icegridnode.conf $(DESTDIR)/etc/icegridnode.conf
	cp debian/zeroc-icegrid.icegridregistry.conf $(DESTDIR)/etc/icegridregistry.conf

	mkdir -p $(DESTDIR)/var/lib/ice/icegrid/registry
	mkdir -p $(DESTDIR)/var/lib/ice/icegrid/node1

	#
	# Continue with regular dh_install
	#
	dh_install

	#
	# Copy package readme
	#
	for name in $(PACKAGE_NAMES) ; \
	do \
		dh_install -p$$name debian/README $(prefix)/share/doc/$$name ; \
	done ;
	dh_install -p zeroc-ice-utils-java debian/JGOODIES_LICENSE $(prefix)/share/doc/zeroc-ice-utils-java

override_dh_clean:
	dh_clean
	rm -rf java/.gradle
	rm -rf java-compat/.gradle
