#
# Copyright (c) 2007-2017 ZeroC, Inc. All rights reserved.
#

[Unit]
Description=Glacier2 router daemon
Documentation=man:glacier2router(1)
Documentation=https://doc.zeroc.com/display/Ice/Getting+Started+with+Glacier2
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/glacier2router --daemon --pidfile /run/glacier2router/glacier2router.pid --Ice.Config=/etc/glacier2router.conf
Type=forking
RuntimeDirectory=glacier2router
PIDFile=/run/glacier2router/glacier2router.pid
KillMode=process
User=ice

[Install]
WantedBy=multi-user.target
