#
# Copyright (c) 2007-2017 ZeroC, Inc. All rights reserved.
#

[Unit]
Description=IceGrid registry daemon
Documentation=man:icegridregistry(1)
Documentation=https://doc.zeroc.com/display/Ice/icegridregistry
Before=icegridnode.service
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/icegridregistry --daemon --pidfile /run/icegridregistry/icegridregistry.pid --Ice.Config=/etc/icegridregistry.conf
Type=forking
RuntimeDirectory=icegridregistry
PIDFile=/run/icegridregistry/icegridregistry.pid
KillMode=process
User=ice

[Install]
WantedBy=multi-user.target
