Source: zeroc-freeze
Section: devel
Priority: extra
Maintainer: José Gutiérrez de la Concha <jose@zeroc.com>
Build-Depends: debhelper (>= 9),
               dh-exec,
               libbz2-dev,
               libexpat1-dev,
               libmcpp-dev,
               locales-all
Standards-Version: 3.9.8
Homepage: https://zeroc.com
Vcs-Git: https://github.com/zeroc-ice/freeze-debian-packaging.git
Vcs-Browser: https://github.com/zeroc-ice/freeze-debian-packaging.git

Package: libzeroc-freeze3.7
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: libzeroc-ice3.7 (= 3.7b0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: C++ run-time for the Freeze persistence service
 This package contains the C++ run-time for the Freeze persistence service.
 .
 The Freeze persistence service allows you to store Ice objects in Oracle
 Berkeley DB, with all the features you expect from a robust database -
 transactions, hot backups, indexing, and more.

Package: libzeroc-freeze-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Replaces: libzeroc-freeze-dev (<= 3.6.3-1)
Breaks: libzeroc-freeze-dev (<= 3.6.3-1)
Depends: libzeroc-freeze3.7 (= ${binary:Version}),
         libzeroc-ice-dev (= 3.7b0),
         zeroc-freeze-compilers (= ${binary:Version}),
         zeroc-ice-slice (= 3.7b0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: libraries and headers for developing Freeze applications in C++
 This package contains the libraries and headers for developing Freeze
 applications in C++.
 .
 The Freeze persistence service allows you to store Ice objects in Oracle
 Berkeley DB, with all the features you expect from a robust database -
 transactions, hot backups, indexing, and more.

Package: zeroc-freeze-utils
Architecture: any
Multi-Arch: foreign
Section: admin
Replaces: zeroc-ice-utils (<= 3.6.3-1)
Breaks: zeroc-ice-utils (<= 3.6.3-1)
Depends: libzeroc-freeze3.7 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: freeze utilities
 This package contains freeze utilities.
 .
 The Freeze persistence service allows you to store Ice objects in Oracle
 Berkeley DB, with all the features you expect from a robust database -
 transactions, hot backups, indexing, and more.

Package: zeroc-freeze-compilers
Architecture: any
Multi-Arch: same
Section: admin
Replaces: zeroc-ice-compilers (<= 3.6.3-1)
Breaks: zeroc-ice-compilers (<= 3.6.3-1)
Depends: libzeroc-freeze3.7 (= ${binary:Version}),
         zeroc-ice-slice (= 3.7b0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Slice compilers for developing Freeze applications
 This package contains Slice compilers for developing Freeze applications.
 .
 The Freeze persistence service allows you to store Ice objects in Oracle
 Berkeley DB, with all the features you expect from a robust database -
 transactions, hot backups, indexing, and more.
 
