#!/usr/bin/make -f
# -*- makefile -*-

DEB_BUILD_OPTIONS               += nocheck notest

HOST                            = $(DEB_HOST_GNU_TYPE)

PACKAGE_NAMES                   = libzeroc-ice-dev \
                                  libzeroc-ice-python2.7 \
                                  libzeroc-ice3.7 \
                                  libzeroc-icestorm3.7 \
                                  zeroc-glacier2 \
                                  zeroc-ice-all-dev \
                                  zeroc-ice-all-runtime \
                                  zeroc-ice-dev \
                                  zeroc-ice-slice \
                                  zeroc-ice-utils \
                                  zeroc-icebox

DESTDIR                         = $(CURDIR)/debian/tmp

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    OPTIMIZE                    = yes
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS                   += -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
    MAKEFLAGS                   += -j$(shell /usr/bin/getconf _NPROCESSORS_ONLN)
endif

prefix                          = /usr

MAKEOPTS                        = prefix=$(prefix) ICEE_TARGET_OS=debian DESTDIR=$(DESTDIR) \
                                  OPTIMIZE=$(OPTIMIZE) HOST=$(DEB_HOST_GNU_TYPE) V=1

%:
	dh $@ --parallel

override_dh_auto_build:
	$(MAKE) OPTIMIZE=$(OPTIMIZE) -C ice/cpp/src/IceUtil
	$(MAKE) OPTIMIZE=$(OPTIMIZE) -C ice/cpp/src/Slice
	$(MAKE) OPTIMIZE=$(OPTIMIZE) -C ice/cpp/src/slice2cpp
	$(MAKE) OPTIMIZE=$(OPTIMIZE) -C ice/cpp/src/slice2py
	$(MAKE) $(MAKEOPTS) dist CPP11=yes
	$(MAKE)	$(MAKEOPTS) dist

override_dh_auto_install:
	$(MAKE) $(MAKEOPTS) install
	$(MAKE) $(MAKEOPTS) CPP11=yes install

override_dh_auto_clean:
	$(MAKE) $(MAKEOPTS) clean

override_dh_auto_test:

#
override_dh_installinit:
	dh_installinit --noscripts --name glacier2router

override_dh_install:
	mkdir -p $(DESTDIR)/etc
	cp debian/zeroc-glacier2.glacier2router.conf $(DESTDIR)/etc/glacier2router.conf

	#
	# Continue with regular dh_install
	#
	dh_install

	#
	# Copy package readme
	#
	for name in $(PACKAGE_NAMES) ; \
	do \
		mkdir -p $(DESTDIR)$(prefix)/share/doc/$$name ; \
		cp debian/README $(DESTDIR)$(prefix)/share/doc/$$name/README ; \
	done ;

override_dh_clean:
	$(MAKE) OPTIMIZE=$(OPTIMIZE) clean -C ice/cpp/src
	$(MAKE) $(MAKEOPTS) clean CPP11=yes
	dh_clean
